@font-face {
	font-family: digital;
	src: url(digital1.ttf);
}

body {
	background-color: black;
	color: white;
	font-family: digital;
	font-size: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 190px;
	width: 510px;
	border: 2px solid white;
	border-radius: 50px;
}

/* medium devices */
@media (max-width: 560px) {
	body {
		font-size: 80px;
	}
	div {
		height: 114px;
		width: 306px;
		border-radius: 30px;
	}
}

/* small devices */
@media (max-width: 355px) {
	body {
		font-size: 70px;
	}
	div {
		height: 100px;
		width: 260px;
		border-radius: 25px;
	}
}